body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Ensures the navigation appears above other content */
    height: 4rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 70%;
    border: 2px solid #bbb;
    border-radius: .5rem;
    padding: .5rem;
}

h3 {
    border-bottom: .3em solid black;
    padding: .2rem 3rem;
    border-radius: 3rem;
    width: 70%;
    text-align: center;
    border-top: .1rem solid black;
    border-inline: 0.2rem solid black;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 5rem;
    /* Add padding-top to compensate for the fixed header */
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}